* {
    box-sizing: border-box;
}
.navContents {
    text-align: center;
}
ul li {
    display: inline;
    margin: 5%;
}
a {
    text-decoration: none;
}
.navLogo {
    width: 10%;
    margin: 2%;
    margin-left: 3%;
}