@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #515151;
    z-index: 1;
}


/*--------------------------------MOBIL NAV MENU--------------------------------*/

.menuBtn:hover {
    cursor: pointer;
}
.menuBtn:hover .lineOne {
    background-color: #D93C40;
    transform: rotateZ(40deg);
}
.menuBtn:hover .lineTwo  {   
    background-color: #D93C40;
    transform: translateX(-5px);
}
.menuBtn:hover .lineThree {
    transform: rotateZ(-40deg);
    background-color: #D93C40;
}

.lineOne, .lineTwo, .lineThree {
    background-color: #D93C40;
}
.lineOne {
    height: 3px;
    width: 35px;
    transition: .5s ease-in-out;
}
.lineTwo {
    height: 3px;
    width: 35px;
    margin-top: 21%;
    transition: .5s ease-in-out;
}
.lineThree {
    height: 3px;
    width: 35px;
    margin-top: 21.5%;
    transition: .5s ease-in-out;
}

.menuBtn {
    z-index: 1;
    margin-left: 2%;
    margin-top: 3%;
    width: 36px;
    outline: none;
}
.mobMenu ul a {
    color: rgba(255, 255, 255, 0.541);
    text-decoration: none;
}
.mobMenu ul li {
    display: block;
}
.mobMenu {
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    position: absolute;
    background-color: #202020;
    overflow: hidden;
    transform: translateX(-100%);
    transition: .5s linear;
    border: 1px solid #2F2C1E;
}
.mobMenuOpen {
    transform: translateX(0%);
    z-index: 1;
}
ul.mobNav {
    margin-top: 15%;

}
ul.mobNav a li {
    margin: 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 35px;
    width: 10%;
    border-radius: 30px;
    margin-left: 45%;
}
ul.mobNav a li {
    transition: .2s linear;
}
ul.mobNav a li:hover {
    transform: rotateZ(5deg);
    color: #D93C40;
    border: 1px solid #D95A5C;
    box-shadow: 0px 0px 5px 0px #D95A5C;
}
.mobileContents a.menuAnchor {
    width: 5%;
}

/*--------------------------------MOBIL NAV MENU--------------------------------*/

.carousel {
    z-index: -1;
}
.socialBar {
    text-align: center;
    position: absolute;
    top: 0;
    padding: .2%;
    width: 100%;
    background-color: #1d1b12;
    height: 34px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.363);
}
.socialBarContents a {
    text-decoration: none;
    color: #D93C40;
    letter-spacing: 1.5px;
}
.socialBarContents a:hover {
    color: #D93C40;
    text-decoration: underline;
    text-decoration-color: #D93C40;
}
.socialBarContents a:nth-child(2) {
    margin-left: 2%;
}
.socialBarContents a:nth-child(3) {
    margin-left: 2%;
}
.btn-close {
    float: right;
    margin: 2%;
    background-color: #D93C40;
}
.carousel-item {
    width: 25%;
    margin-left: 37%;
    z-index: -1;
}
.carousel-caption {
    color: #D93C40;
}
.carousel-control-prev {
    z-index: 1;
}
.carousel-control-next {
    z-index: 1;
}
.mainContainer {
    text-align: center;
}
.mainContents {
    color: #D93C40;
    z-index: -1;
}
.mainContents h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px;
}
.mainContents sub {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 19px;
    color: #D93C40;
}
.featurette-divider {
    background-color: #D93C40;
    margin: 5rem;
    width: 90%;
}